@model Telemark.ViewModels.DirectorInfoMessage_ViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>InfoMessage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" class="form-control">
                @Html.DropDownListFor(m=>m.message.race_id,Model.racelist)
            </div>
            <div class="form-group">
                <label asp-for="message.keyword" class="control-label"></label>
                <input asp-for="message.keyword" class="form-control" />
                <span asp-validation-for="message.keyword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="message.information" class="control-label"></label>
                <input asp-for="message.information" class="form-control" />
                <span asp-validation-for="message.information" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" asp-items="@Model.message" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
