@model Telemark.Models.InfoMessage

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>InfoMessage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="race_id" class="control-label"></label>
                <input asp-for="race_id" class="form-control" />
                <span asp-validation-for="race_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="keyword" class="control-label"></label>
                <input asp-for="keyword" class="form-control" />
                <span asp-validation-for="keyword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="information" class="control-label"></label>
                <input asp-for="information" class="form-control" />
                <span asp-validation-for="information" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="director_id" class="control-label"></label>
                <input asp-for="director_id" class="form-control" />
                <span asp-validation-for="director_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
