@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Announcer Page";
    int mid = 1;
}

<input id="message" />
<button id="sendButton">Send Message</button>

<div id="log">

</div>




@section head {
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
}


@section scripts {

    <script>
        var mid = "@mid";
    </script>
    <script src="~/js/announcer.js" asp-append-version="true"></script>

}
