@page
@model RegisterModel
<nav class="navbar navbar-primary navbar-primary navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Telemark</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="material-icons">dashboard</i> Home
                    </a>
                </li>
                <li class=" active ">
                    <a asp-area="Identity" asp-page="/Account/Register">
                        <i class="material-icons">person_add</i> Register
                    </a>
                </li>
                <li class="">
                    <a asp-area="Identity" asp-page="/Account/Login">
                        <i class="material-icons">fingerprint</i> Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper wrapper-full-page">
    <div class="full-page register-page" filter-color="black">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="card card-signup">
                        <h3 class="card-title text-center">Welcome to Telemark Virtual Info Booth</h3>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="card-content">
                                    <div class="info info-horizontal">
                                        <div class="description">
                                            <img src="../../assets/img/signup-image.png">
                                            <h2></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <div class="card-content">
                                        <div class="text-center">
                                            <h4 class="card-title">Create a Telemark Account</h4>
                                        </div>
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <label asp-for="Input.Email"></label>
                                            <input asp-for="Input.Email" class="form-control" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <label asp-for="Input.Password"></label>
                                            <input asp-for="Input.Password" class="form-control" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <label asp-for="Input.ConfirmPassword"></label>
                                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <div class="input-group">
                                            <input type="hidden" asp-for="Input.Role" value="Director" />
                                        </div>
                                    </div>
                                    <div class="footer text-center">
                                        <button type="submit" class="btn btn-primary">Get Started</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy;
                    <script>
                            document.write(new Date().getFullYear())
                    </script>
                    <a href="#">Turbo</a> BootStrap Admin Dashboard
                </p>
            </div>
        </footer>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
