@model IEnumerable<Telemark.Models.Race>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.logo_url" class="img-thumbnail" alt="Cinque Terre">
            </td>
            <td>
                @item.name
            </td>
            <td>
                <a asp-action="ImportRace" asp-route-id="@item.race_id">Import Race</a>
            </td>
        </tr>
}
    </tbody>
</table>
